body {
    display: flex;
  }

  #structure-1,
  #structure-2 {
    border: 3px solid blue;
    width: 200px;
    margin-right: 50px;
  }
  #structure-1 div,
  #structure-2 div {
    min-height: 20px;
  }
  #structure-1 div:empty,
  #structure-2 div:empty {
    background: purple;
  }
  #structure-1 > div,
  #structure-2 > div {
    border: 1px solid #fff;
    margin: 5px;
  }
  #structure-1 > div > div:first-child,
  #structure-2 > div > div:first-child {
    background: #23d6af;
  }
  #structure-1 > div > div:nth-of-type(2),
  #structure-2 > div > div:nth-of-type(2) {
    background: black;
  }
  #structure-1 > div > div:nth-of-type(3),
  #structure-2 > div > div:nth-of-type(3) {
    background: green;
  }

  #structure-2 {
    border-color: lime;
  }